.analyzer{
    min-height: 75vh;
    width: 100%;
}

.analyzer-container{
    padding: 2em;
    min-height: 80vh;
    display: flex;
}

.analyzer-textarea-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: 1s all;
}

.analyzer-textarea-container h3{
    text-align: center;
}

.analyzer-textarea{
    padding: 1em;
    resize: none;
    min-height: 65vh;
    background-color: black;
    border-radius: 0.5em;
    border: 1px solid rgb(109, 109, 109);
    overflow-y: scroll;
    overflow-x: hidden;
}

.analyzer-results-container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.analyzer-results-badge{
    border: 1px solid #ffd60a;
    border-radius: 0.5em;
    padding: 0.5em;
}

@media only screen and (max-width: 768px) {
    .analyzer-container{
        padding: 1em;
        min-height: 65vh;
        display: flex;
        flex-direction: column;
    }
    .analyzer-textarea-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}