.footer{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1; /*#001d3d;*/
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}