.custom-button{
    font-size: 1em;
    padding: 0.5em;
    color: #fff;
    background-color:#0331fc ;
    border-radius: 5em;
    border: none;
    cursor: pointer;
}

.custom-button:hover{
    background-color: #038cfc;
	transition: 0.5s all;
}