/*COLORS
  base: #038cfc
  main-dark: #001d3d
  main-light: #003566
  main-font-color:#fff
  secondary-main: #ffd60a
  secondary-light: #038cfc
  secondary-font-color:#038cfc
*/

:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;/*#fff;*/
  background-color: #fff;/*#038cfc;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #038cfc;
  text-decoration: inherit;
}
a:hover {
  color: #038cfc;
}

body {
  margin: 0;
}